$primary-color: rgb(111, 230, 0);
$secondary-color: rgb(0, 215, 230);

@mixin font ($font-family, $font-size, $font-color) {
    font-family: $font-family;
    font-size: $font-size;
    color: $font-color;
}
@mixin FlexCenter ($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;

}